// variables.scss

$background-dark: #333;
$background-light: #f4f4f4;
$text-dark: #fff;
$text-light: #333;
$primary-color: #007BFF;
$primary-dark: #0056b3;
$container-bg-dark: #444;
$container-bg-light: #fff;